<!doctype html>
<html class="no-js" lang="{{ page.seoLang }}">
	<head>
		<meta charset="utf-8" />
		<title>{{ page.title }}</title>
		<meta name="keywords" content="{{ page.keywords }}" />
		<meta name="description" content="{{ page.description }}" />
		<meta name="viewport" content="width=device-width,initial-scale=1">

		{% if site.favicon %}
			<link rel="icon" href="{{ site.favicon['favicon'] }}" type="image/x-icon" />
			<link rel="SHORTCUT ICON" href="{{ site.favicon['thumbnail'] }}?v={{ "now"|date("U") }}" type="image/x-icon" />
		{% endif %}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

		{% include basekit.headScript %}
	</head>

	<body class="{{ page.backgroundClass }}">
		{% block content %}{% endblock %}
	    {% include basekit.bodyScript %}

		<!-- jQuery -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		
		<!-- Animations happen on scroll -->
		<script src="{{ asset('js/wow.min.js')}}"></script>
		<script>new WOW().init();</script>
		
		<!-- Template -->
		<script src="{{ asset('js/navigation.js')}}"></script>
		<script src="{{ asset('js/custom.js')}}"></script>
		
		{% block bodyscripts %}{% endblock %}
	</body>
</html>